$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$telegram-border-color: #0088cc;

$text-primary: #0d2f3f;
$text-secondary: #286f6c;
$text-white: #dddddd;

$border-color: #e7e7e7;
$main-block-bg-color: linear-gradient(
  to right,
  #127551 0%,
  #127551 71%,
  #2b8d58 100%
);

$bg-main-color: #ffffff;
$bg-secondary-color: #f8f7f1;

