@import "../../styles/contants.scss";

.wrapper {
  background: hsl(214, 13%, 10%);
  color: white;
  .container {
    gap: 2rem;
    @media (max-width: $sm) {
      flex-direction: column;
      gap: 2rem;
    }
    .left {
      flex: 3;

      > * {
        display: block;
      }
      > :nth-child(2) {
        margin-top: 3rem;

        a {
          text-decoration: underline;
          color: orange;
        }
      }

      > span {
        text-align: center;
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      .info {
        margin-bottom: 1rem;
        > * {
          display: block;
        }
      }
      .menu {
        @media (max-width: $sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        color: rgb(135, 139, 144);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        li {
          cursor: pointer;
          &:hover {
            color: $text-secondary;
          }
        }
      }
    }
  }
}
.bpx {
  background-image: linear-gradient(
    to right,
    #02b050c7 0%,
    #93ef00 71%,
    #ddfa00 100%
  );
  height: 8px;
}
