@import "../../styles/contants.scss";

.wrapper {
  background: white;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }
    > div {
      flex: 1;
    }

    .leftSide {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        @media (max-width: 778px) {
          font-size: 2.5rem;
        }
  
        @media (max-width: 661px) {
          font-size: 2.4rem;
        }
  
        @media (max-width: 632px) {
          font-size: 2.5rem;
        }
  
        @media (max-width: 588px) {
          font-size: 2.3rem;
        }
  
        @media (max-width: 549px) {
          font-size: 2.2rem;
        }
  
        @media (max-width: 531px) {
          font-size: 2.1rem;
        }
  
        @media (max-width: 503px) {
          font-size: 2rem;
        }
  
        @media (max-width: 484px) {
          font-size: 1.9rem;
        }
  
        @media (max-width: 461px) {
          font-size: 1.8rem;
        }
  
        @media (max-width: 444px) {
          font-size: 1.8rem;
        }
  
        @media (max-width: 441px) {
          font-size: 1.7rem;
        }
  
        @media (max-width: 423px) {
          font-size: 1.6rem;
        }
  
        @media (max-width: 399px) {
          font-size: 1.5rem;
        }
  
        @media (max-width: 388px) {
          font-size: 1.4rem;
        }
      }

      .exp {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.103) !important;
        border-radius: 20px;
        padding: 1.5rem;
        font-weight: 500;
        gap: 2rem;
        transition: all 200ms ease-out;

        @media (max-width: 486px) {
          width: 430px;
          margin: auto;
        }
      

        @media (max-width: 444px) {
          width: 400px;
          margin: auto;
        }

        @media (max-width: 414px) {
          width: 350px;
          margin: auto;
        }


        @media (max-width: 375px) {
          width: 350px;
          margin: auto;
        }

        @media (max-width: 365px) {
          width: 360px;
          margin: auto;
        
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
        }

        > :nth-child(1) {
          padding: 10px;
          width: 3rem;
          height: 3rem;
          border-radius: 999px;
        }

        > :nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          > :nth-child(1) {
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}



